/*

todo: add img texture to doors
use background image on rect if possible

*/

.door {
  position: absolute;
  z-index: 1;
}

/*
--------------------------------
STYLE 0 - Vertical
--------------------------------
*/

.door.style-0 svg .div {
  transition: transform 0.2s;
  transition-timing-function: ease-in;
}

.door.style-0 svg .groove {
  opacity: 0.7;
}

.door.style-0 svg .groove rect:nth-child(1) { /* groove - border */
  width: 6px;
  height: 20px;
  x: 7px;
  y: 0px;
  fill: #7d7d7d;
  opacity: 0.5;
}

.door.style-0 svg .div rect:nth-child(1) { /* shadow */
  width: 20px;
  height: 10px;
  x: -6px;
  y: 0px;
  opacity: 0.1;
}
.door.style-0 svg .div rect:nth-child(2) { /* door part - border */
  width: 8px;
  height: 10px;
  x: 0px;
  y: 0px;
  fill: #56514e;
}
.door.style-0 svg .div rect:nth-child(3) { /* door part - fill */
  width: 6px;
  height: 10px;
  x: 1px;
  y: 0px;
  fill: #3f3834;
}

.door.style-0 svg .div-1 {
  transform: translate(6px, 0px);
}
.door.style-0 svg .div-2 {
  transform: translate(6px, 10px);
}

.door.style-0.state-open svg .div-1 {
  transform: translate(6px, -9px);
}
.door.style-0.state-open svg .div-2 {
  transform: translate(6px, 19px);
}

/*
STYLE 1 - Horizontal
*/

.door.style-0.horizontal svg {
  transform: rotate(90deg);
}
