* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  position: relative;
}

div.stage {
  margin: 100px 50px;
  position: relative;
}

div.buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  width: 20%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 0px;
}

div.toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}

div.buttons .btn {
  padding: 5px 0;
}

div.toolbar .btn {
  padding: 5px 15px;
}

.btn-mode.active {
  border: solid 2px #5a5a5a;
  border-radius: 3px;
  background-color: #bfbfbf;
}

.btn-mode.active:focus-visible {
  border-width: 3px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.label.align-right {
  justify-content: flex-end;
}

.label.align-left {
  justify-content: flex-start;
}

.label {
  display: flex;
  align-items: center;
  font-family: 'Courier New', 'lucisa console', 'consolas', sans-serif;
  font-weight: 600;
  background-color: green;
  color: #fff;
  padding: 0 4px;
  user-select: none;
}

div.box {
  border-radius: 5px;
}

div.stage.gridVisible .grid {
  visibility: visible;
}

div.stage.gridVisible .cell {
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.toggle-btn-group {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffd8d8;
}

.player.state-idle {
  background-image: url(./img/player-idle-4.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
