@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap');

@import url("player.css");
@import url("door.css");

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  position: relative;
}

.stage {
  position: relative;
  margin: 70px auto;
  overflow: hidden;
  background-color: #272626;
  border: solid 2px #736f5e;
}

.toolbar {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}

.toolbar .btn {
  padding: 5px 15px;
}

.btn-mode.active {
  border: solid 2px #5a5a5a;
  border-radius: 3px;
  background-color: #bfbfbf;
}

.btn-mode.active:focus-visible {
  border-width: 3px;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.label.align-right {
  justify-content: flex-end;
}

.label.align-left {
  justify-content: flex-start;
}

.label {
  display: flex;
  align-items: center;
  font-family: 'Yantramanav', sans-serif;
  letter-spacing: 2px;
  color: #1d1a1aa8;
  text-shadow: 1px 1px 40px #00000063;
  padding: 0 6px;
  user-select: none;
}

.stage.edit .cell {
  box-shadow: 0 0 0px 1px #404040;
}

.stage.edit .stage-edge {
  border: dashed 3px #186f9280;
  box-shadow: 0 0 0px 500px #186f9224;
}

.toggle-btn-group {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-left: solid 1px #d3d3d3;
}

.toggle-btn-group:first-child {
  border-left: 0;
}

.player,
.box,
.label {
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.box {
  background-image: url(./img/box-2.svg);
}

.box.state-win{
  /* opacity: 0.7; */
}

/* empty */
.cell.type-0 {
}

/* wall */
.cell.type-1 {
  background-image: url(./img/wall-2.svg);
}

/* ground  */
.cell.type-2 {
  background-image: url(./img/ground.svg);
}


.cell.type-3 { /* crystal  */
  background-image: url(./img/storage.svg), url(./img/ground.svg);
  background-color: #ecd4b8;
}

.world div {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.room.hidden {
  opacity: 0;
}

.room {
  transition: opacity 1s;
}
